<!DOCTYPE html>
<html lang="fr">

<head>
    {% if site.ga4 != null %}
    {% include ga4.html %}
    {% endif %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.tagline }} - {{ site.name }}</title>
    <link rel="shortcut icon" href="{{ site.favicon.path }}" type="image/{{ site.favicon.type }}">
    <link rel="stylesheet" href="assets/style.css">
    <script src="https://code.iconify.design/2/2.0.0/iconify.min.js"></script>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:title" content="{{ site.name }}" />
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:image" content="{{ site.url }}/{{ site.image.path }}" />
    <meta property="og:image:type" content="image/{{ site.image.type }}" />
    <meta property="og:image:width" content="{{ site.image.width }}">
    <meta property="og:image:height" content="{{ site.image.height }}">
    <meta property="og:image:alt" content="{{ site.image.alt }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.twitter.username }}" />
    <meta name="twitter:title" content="{{ site.name }}" />
    <meta name="twitter:description" content="{{ site.description }}" />
    <meta name="twitter:image" content="{{ site.url }}/{{ site.image.path }}" />
</head>

<body>
    <div class="container is-full-screen">
        <header>
            <div class="top is-center is-vertical-align">
                <img class="is-rounded" width="75px" height="75px" src="{{ site.logo }}" alt="logo">
                <h1 class="text-center">{{ site.name }}{% if site.badge.enable == true %}<span
                        class="iconify-inline badge" data-icon="{{ site.badge.icon }}"
                        style="color: {{ site.badge.color }}"></span>{% endif %}</h1>
                <p class="text-center">{{ site.description }}</p>
                <p class="card">
                <header>
                    <h4>Présentation</h4>
                </header>
                <p class="card">
                    La Garde de l'Ouest est une association résidant à la Maison des Jeux de Nantes. Elle a pour
                    objectif de faire découvrir les jeux de cartes à collectionner ou évolutifs à travers des rencontres
                    hebdomadaires, et des événements ponctuels durant l'année, du tournoi amical au championnat de
                    France de certains jeux.
                </p>
                <p class="card">
                    Les joueurs de l'association jouent à: Flesh and Blood, Keyforge, Game of Thrones/Le Trône de Fer,
                    Android Netrunner, Star Wars, Légende des Cinq Anneaux, Vampire The Eternal Struggle, Ashes les
                    Héritiers du Phoenix, Force of Will, Le Seigneur des Anneaux, Horreur à Arkmham, Star Wars Destiny, Vs System,
                    Warhammer Invasion, Warhammer 40k Conquest, et d'autres...
                </p>

                </p>
            </div>
        </header>

        <!-- Dark / Light Mode Switch -->
        {% include theme-switch.html %}

        <div class="top is-center is-vertical-align">
            <h4>Nous rejoindre</h4>
        </div>
        <!-- Social Media Links -->
        {% include social.html %}

        <div class="top is-center is-vertical-align">
            <h4>Horaires</h4>
            Jeudi : 20H -- 00H
        </div>

        <div class="top is-center is-vertical-align">
            <h4>Localisation</h4>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.520025330436!2d-1.5496864999999744!3d47.2064063!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805eead83ae7dc1%3A0x77bdebfacf27318d!2sLa%20garde%20de%20l&#39;Ouest!5e0!3m2!1sfr!2sfr!4v1717763004907!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

        <!-- Insta/TikTok/YouTube Link-in-bio -->
        <!-- {% include bio.html %} -->

        <div class="top is-center is-vertical-align">
            <h4>Contact</h4>
            <a href="mailto:lagardelouest@gmail.com">lagardelouest@gmail.com</a>
        </div>

        <!-- Link Buttons -->
        {% include links.html %}

        {% include footer.html %}
    </div>
    <script src="assets/script.js"></script>
</body>

</html>